.pageContainer {
    display: flex;
    justify-content: center;
}

.pageContainer__LoginContainer {
    swidth: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(30px) brightness(0.8);
    border: 1px solid #606060;
}

.pageContainer__LoginContainer input {
    height: 50px;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
}

.pageContainer__LoginContainer button {
    margin-top: 50px;
    height: 50px;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.pageContainer__LoginContainer button:hover {
    background-color: rgba(0, 0, 0, 0.25);
   
}

.pageContainer__LoginContainer a {
    color: red;
}