.App {
  text-align: center;
}

.content__header {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.content__header__buttons {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.content__header__buttons__loginBtn {
  height: 50px;
  cursor: pointer;
}

.content__header__buttons__logoutBtn {
  height: 50px;
  cursor: pointer;
}