.card{
    width: 300px;
    /*height: 430px;*/
    border-radius: 10px;
    min-width: 300px;
    backdrop-filter: blur(30px) brightness(0.8);
    border: 1px solid #606060;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.card__link {
    text-decoration: none;
    color: black;
}
.card p{
    color: #fff;
}
.card__textContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px 0 10px;
    font-size: 20px;
}
.card__textContainer__headline {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
.card__textContainer__textline {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0 5px 0;
}
.card__textContainer__price {
    font-weight: bold;
}
.card__textContainer__textline p {
    margin: 0;
}
.card__link__carImage{
    height: 200px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: contain;
}

img::before{
    height: 200px;
    width: 100%;
    content: ' ';
    background-color: red;
}